:root {
    --arrow_header-color: #A3A3A3;
}

/* *** Common ***  */

img {
    max-width: 100%;
}

/* #region *** Utility ***  */

.h_1 {
    height: 1rem;
}

.h_600 {
    height: 600px;
}

.rounded_20 {
    border-radius: 20px;
}


/* #endregion *** Utility ***  */



/* #region *** Header ***  */

.dropdown-toggle::after {
    display: none;
}

.arrow_header {
    color: var(--arrow_header-color);
}

/* #endregion *** Header ***  */

/* #region *** Main ***  */

.bg_returnal {
    background-image: url('/assets/img/jumbo-bg.png');
    background-position: center;
    background-size: cover;
}

/* #endregion *** Main ***  */